body {
	background-image:url(background1.gif) ;
	background-attachment: fixed;
	background-position: center;
	}

h1 {
	font-family: Georgia,serif;
	font-size: 50px;
	color: #C71585;
	}

h2 {
	font-family: Georgia,serif;
	font-size: 20px;
	color:#FF69B4 ;
	}

h3 {
	font-family: Lucida Handwriting;
	font-size: 30px;
	color: #FF1493 ;
	}

h3 {
	font-family: Lucida Handwriting;
	font-size: 20px;
	color: #DB7093 ;
	}

	.highlight {
    background-color: #fff2ac;
    background-image: linear-gradient(to right, #ffe359 0%, #fff2ac 100%);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FF1493;
}

li {
  float: left;
}

li a {
  display: block;
  color: #FFC0CB;
  text-align: center;
  padding: 20px 55px;
  text-decoration: none;
}


li a:hover {
  background-color: #111;
}







	

	